<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*
 * Copyright (c) 2021 DPO Group
 *
 * Author: App Inlet (Pty) Ltd
 *
 * Released under the GNU General Public License
 */
-->
<module>
    <name>DPO Group</name>
    <displayName><![CDATA[Dpo]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Accept payments via DPO Group.]]></description>
    <author><![CDATA[Dpo]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
